/*

!.editorconfig
!.gitignore
!gamemode.ini
!catppuccin-mocha.yml

!bat/
!clangd/
!git/
!fd/
!i3/
!kitty/
!luarocks/
!nvim/
!picom/
!polybar/
!redshift/
ripgreprc
!rofi/
!wal/
!wallpaper/
!X11
!Xmodmap
!zsh
